/*
    Colorplane styles
*/

.colorplane-hex {
  margin: 1em 0;
}

.colorplane-hex li {

}

.colorplane-hex-color {
  font-weight: bold;
  color: #bbb;
}

.colorplane {
  margin: 1em 0;
}

.colorplane-selected-color {
  width: 100%;
  height: 50px;
  background: #33cc77;
  border-radius: .4em .4em 0 0;
}

canvas#colorplane-canvas {
  width: 100%;
  height: 220px;
  background: #33cc77;
  border-radius: 0 0 .4em .4em;
}

@media only screen and (max-width: 479px) {

  .colorplane-selected-color {
    width: 300px;
    height: 50px;
  }

  canvas#colorplane-canvas {
    width: 300px;
    height: 180px;
  }

}

.colorplane-instructions {
  background-color: rgba(255,255,255,.6);
  color: #333;
  font-size: .75em;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 11px;
  margin: 0 auto;
  padding: 4px 5px 3px;
  width: 160px;
  border-radius: .4em;
}


/*
    Demo page styles
*/

.logo-colorplane {
  margin: 2em 0 1em;
}

.description {
  font-size: 1.55em;
  line-height: 1.125em;
}

footer {
  margin: 3em auto;
  width: 7em;
  color: #bbb;
  font-weight: bold;
  text-align: center;
}

.logo-33cc77 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em 0;
  padding: .1em .75em;
  background: #33cc77;
}

.logo-33cc77:hover {
  background-color: transparent;
  text-decoration: none;
  color: #333;
}
